/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 6, 2024, 8:44:17 PM
    Author     : Hi
*/
    .card {
        background: #fccb90; /* Màu chính */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        border-radius: 15px;
    }
    .btn-success {
        background-color: transparent; /* Xóa màu nền hiện tại */
        border: 2px solid #000; /* Thêm viền đen */
        color: #fff; /* Màu chữ trắng */
    }
    
    .btn-success:hover {
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen khi hover */
    }
   
